<!--<div>-->
<!--  <span>{{ title }}</span>-->
<!--</div>-->

<!--<h1>One Way Binding</h1>-->

<!--<div>-->
<!--  <input [value]="title">-->
<!--</div>-->
<!--<div>-->
<!--  <button (click)="alert()">Alert!</button>-->
<!--</div>-->

<!--<h1>Two Way Binding</h1>-->

<!--<div>-->
<!--  <input [(ngModel)]="myInput">-->
<!--  <p>-->
<!--    {{ myInput }}-->
<!--  </p>-->
<!--</div>-->

<!--<h1>Directives</h1>-->

<!--<ul>-->
<!--  <li *ngFor="let person of people ; let i = index">-->
<!--    <span>{{ i }}</span>-->
<!--    <span>{{ person.name }}</span>-->
<!--  </li>-->
<!--</ul>-->

<!--<div>-->
<!--  <form>-->
<!--    <input type="radio" name="radio_group2" value="show" [(ngModel)]="checkedValue1">Show-->
<!--    <input type="radio" name="radio_group2" value="hide" [(ngModel)]="checkedValue1">Hide-->
<!--  </form>-->

<!--  <div *ngIf="checkedValue1 == 'show' ; else hiding;">-->
<!--    show!-->
<!--  </div>-->

<!--  <ng-template #hiding>-->
<!--    <div>hide!</div>-->
<!--  </ng-template>-->
<!--</div>-->


<!--<div>-->
<!--  <form>-->
<!--    <input type="radio" name="radio_group2" value="show" [(ngModel)]="checkedValue2">Show-->
<!--    <input type="radio" name="radio_group2" value="hide" [(ngModel)]="checkedValue2">Hide-->
<!--  </form>-->
<!--  <div [ngClass]="{'show': checkedValue2 == 'show', 'hide': checkedValue2 != 'show'}">-->
<!--    abracadabra-->
<!--  </div>-->

<!--  <div [ngClass]="checkedValue2 == 'show' ? 'show': 'hide'">-->
<!--    abracadabra-->
<!--  </div>-->

<!--</div>-->
<h1>to-do list</h1>

<input #input [(ngModel)]="value"/>
<button (click)="insertVal(value)">insert</button>

<ul>
  <li *ngFor="let val of values ; let i = index;">
    {{ i }} : {{ val }} <button (click)="deleteVal(i)">x</button> 
    <button (click)="sendChild(val)">sendChild</button>
    <button (click)="sendGlobally(val)">sendGlobally</button>
  </li>
</ul>

<hr> 
<h2>child 1 - child-parent</h2>

<app-child1 [dataFromParent]='dataForChild'></app-child1>

<hr>
<h2>child 2 - service</h2>

<app-child2></app-child2>









