<div class="container">
  <h1>Parent</h1>

  <hr>

  <div>
    <h2>Parent → Child1</h2>

    <div>
      <input #input1>
      <button (click)="sendToChild1(input1)">Send</button>
    </div>

    <!-- <div>
      <h2>Child1 → Parent</h2>
      <span>{{ dataFromChild1 }}</span>
    </div> -->
  </div>

  <hr>

  <div>
    <h2>Parent → Child2</h2>

    <div>
      <input #input2>
      <button (click)="sendToChild2(input2)">Send</button>
    </div>

    <!-- <div>
      <h2>Child2 → Parent</h2>
      <span>{{ dataFromChild2 }}</span>
    </div> -->
  </div>

  <div>
    <input #input3>
    <button (click)="sendGlobaly(input3)">sendGlobaly</button>
  </div>


</div>

<hr>
<app-child1 [dataFromParent]='dataForChild1' (dataEvent)='receiveFromChild($event)' ></app-child1>
<hr>
<app-child2 [dataFromParent]='dataForChild2'></app-child2>

